numpy
pandas 
matplotlib 
scikit-learn 
lime 
anchor-exp 
shap
xgboost
seaborn
torch
torchvision
adversarial-robustness-toolbox
opencv-python
tqdm
tensorflow
tensorflow-hub
transformers
pillow
requests
alibi 
pdpbox
pycebox